.parent{
    display: flex;
    justify-content: center;
}

.content{
    height: 1200px;
    width: 1500px;
    display: inline;
    overflow: hidden;
    position: relative;
}

.txtbest{
    position: relative;
    top: 125px;
    right: 300px;
    font-size: 40px;
}

.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    position: relative;
    top: 150px;
    left: -150px;
}

.img1{
    width: 400px;
    height:300px;
    text-align: center;
    border-color: rgb(172, 198, 221);
    background-color: #fff0e37f;
    border-radius: 5px;
    align-items: center;
    display: flex;
    position: relative;
    box-shadow: rgba(63, 63, 63, 0.212) 10px 7px 10px 10px;
}