#laptop{
    position: relative;
    left: 10px;
    top: -25px;
    height: 200px;
    width: 200px;
    z-index: 0;
}

#desc{
    position: relative;
    left: 8px;
    top: -25px;
}

.color1{
    color: silver;
    position: relative;
    left: 50px;
}

.color2{
    color: blue;
    position: relative;
    left: 50px;
}

.color3{
    color: black;
    position: relative;
    left: 50px;
}

.color4{
    color: gray;
    position: relative;
    left: 50px;
}

.learn{
    position: relative;
    top: 110px;
    right: 125px;
    border-radius: 0px;
}

.discount{
    position: absolute;
    bottom: 260px;
    left: 20px;
    z-index: 1;
    font-size: 30px;
    color: red;
    animation: flash 1000ms ease infinite alternate;
}

@keyframes flash {
	from { opacity: 100%; }	
	to { opacity: 10%; }
}

#pclogo{
    position: absolute;
    bottom: 250px;
    left: 300px;
    height: 50px;
    width: 100px;

}